*.DS_Store
/.travis.yml~
*.class
exchange/target/classes/*
exchange/target/go-plus.owl
exchange/target/maven*
*.log
exchange/target/test-classes/*
exchange/src/test/resources/biopax/catalog-v001.xml
exchange/src/test/resources/gocam/*
*.ttl
exchange/generated/REO.owl
