/PathwayCommons10.All.hgnc.gmt.txt
/Canonical_Wnt_signaling_INOH.owl
/TCF_dependent_signal_reactome.owl
/Wnt_Signaling_Pathway_wikipathways.owl
/Wnt_signaling_network_NCI_Pathways.owl
/catalog-v001.xml
